* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-h1 {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.main-container{
    width: 100%;
    max-width: 1440px;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.scroll-up-Btn {
    display: flex;
    justify-content: end;
    position: fixed;
    right: 30px;
    bottom: 30px;
    z-index: 999;
    visibility: hidden;
    
}

.scroll-up-Btn button{
    padding: 15px;
    outline: none;
    border: 1px black solid;
    border-radius: 100%;
    cursor: pointer;
}

.scroll-up-Btn button:hover {
    background-color: rgb(184, 179, 179);
    transition: .5s all;
}

.active {
    visibility: visible;
    
}